.chronologie {
	background-color: $background-header;
	height: 100vh;
	width: 100vw;
	position: relative;
	overflow: hidden;
	color: $color-text;
	@include x-flexbox;
	@include x-align-items(center);
	@include x-justify-content(center);
	@include x-flex-direction(column);
	.cover {
		@include opacity(0.15);
		img {
			display: none;
			position: absolute;
			width: 100%;
			top: 0;
			left: 0;
			&.show {
				display: block;
			}
		}
	}
}

.chronologie .choice-periode {
	width: 100%;
	position: relative;
	.type {
		padding: 0 7rem;
		&:after {
			border-color: $color-text;
		}
	}
	.title {
		padding: 0 7rem;
		font-family: "museo-slab", serif;
		font-size: 3.75em;
		margin: 0.3em 0;
	}
	.details {
		padding: 0 7rem;
		font-family: "sofia-pro";
		font-style: italic;
		font-size: 0.875em;
		margin-bottom: 1em;
	}
	.mobile-nav-frise {
		display: none;
		.select-simple:after {
			content: "\e60e";
		}
	}
}

.scroll-container {
	height: 150px;
	position: relative;
	overflow: hidden;
	width: 100%;
}

.chronologie .periodes {
	@include x-flexbox;
	@include x-flex-wrap(nowrap);
	@include x-flex(1 1 auto);
	height: 100%;
	// width: 3200px;
	padding: 0 7.5em;
    	zoom : 1; 
    	position: absolute;
    	top: 0;
    	left: 0;
    	// overflow: hidden;
	.periode {
		border: 2px solid #fff;
		@include opacity(0.5);
		@include x-flexbox;
		@include x-flex-direction(column);
		@include x-flex(0 0 auto);
		@include x-justify-content(center);
		width: 370px; 
		height: 150px;
		float: left;
        		cursor: move;
        		font-family: "sofia-pro";
        		color: $color-text;
        		padding:  0 1.875em;
        		margin: 0 2em 0 0;
        		@include transition(all 500ms ease);
        		&:last-child {
        			margin: 0;
        		}
        		&:hover {
        			@include opacity(1);
        		}
        		&:hover.formation {
        			background-color: $tamarind;
        		}
        		&:hover.first-war {
        			background-color: $sunglo;
        		}
        		&:hover.rebel {
        			background-color: $apricot;
        		}
        		&:hover.second-war {
        			background-color: $jungle_green;
        		}
        		&:hover.fourth-republic {
        			background-color: $genoa;
        		}
        		&:hover.fifth-republic {
        			background-color: $congress_blue;
        		}
        		&:hover.death {
        			background-color: $san_juan;
        		}
        		> * {
        			@include x-flex(0 1 auto);
        		}
        		h2 {
        			font-size: 1.125em;
        			font-weight: bold;
        			margin: 0;
        			text-transform: uppercase;
        		}
        		p {
        			margin-top: 0;
        			font-size: 1.125em;
        		}
        		span {
			font-size: 1.5em;
        		}
	}
}

@media screen and (max-width: 768px) {
	.chronologie {
		.cover {
			img.formation {
				display: block;
    				min-width: 100%;
    				min-height: 100%;
    				height: 100%;
    				width: auto;
			}
		}
		.choice-periode {
			padding: 0 3rem;
			.type,
			.title,
			.details {
				padding: 0;
			}
			.mobile-nav-frise {
				display: block;
			}
		}
	}
}

@media screen and (max-width: $mixo-xs-min) {
	.chronologie {
		.choice-periode {
			padding: 0 1rem;
		}
	}
}