// Colors

$midnight : #011A31;
$deep_sapphire : #08356D;
$congress_blue : #005091;
$denim : #106DE6;

$tamarind : #371722;
$blackberry : #590034;
$cardinal : #CC2B25;
$sunglo : #E57066;
$apricot : #E88565;
$tree_poppy : #FFA315;
$jungle_green : #32B67A;
$genoa : #167C80;
$san_juan : #323E78;
$tahiti_gold: #F28107;
$bombay: #B6BABF;
$jewel: #148A31;

$white : #FFF;
$abbey : #494B4D;
$nevada : #6D7073;
$geyser : #DAE0E5;
$aqua_haze : #F0F4F7;
$black : #000;


// Components

// Buttons
$button-border : $white;
$button-text : $white;
$button-donation-background: $cardinal;

// Form
$input-back : $white;
$input-text : $nevada;

// Header
$background-header: $congress_blue;
$background-discover: $midnight;
$background-researches: $denim;
$background-informations: $deep_sapphire;
$background-learn: $congress_blue;
$background-actus: $denim;

// Home
$background-fullpage: $congress_blue;
$background-frise: $cardinal;
$background-slider: $aqua_haze;
$background-twitter: $deep_sapphire;
$background-teachers: $tree_poppy;
$color-featured: $abbey;
$color-featured-text: $abbey;

// Cards 
$color-cards-title: $abbey;
$color-cards-text: $nevada;

// Article
$background-color-article-card: $blackberry;
$background-color-article-cover: $geyser;
$color-article-cover-icon: $bombay;
$color-text-article: $nevada;
$color-first-letter-article: $blackberry;
$color-blockquote-article: $blackberry;
$color-link-article: $blackberry;
$background-color-article-sommaire: $aqua_haze;
$color-article-sommaire-title : $tree_poppy;
$color-article-sommaire-type: $abbey;
$color-article-sommaire-list: $nevada;
$color-article-dialog: $blackberry;
$color-article-list-bullet: $blackberry;
$background-color-article-quote-icon: $tahiti_gold;
$color-article-quote: $tree_poppy;

// Dossier
$color-border-dossier-cover: $blackberry;
$color-dossier-type: $blackberry;
$color-dossier-title: $blackberry;
$color-dossier-tag: $nevada;
$color-dossier-share: $blackberry;
$color-dossier-link: $blackberry;
$color-dossier-sommaire-article-title: $nevada;
$color-dossier-sommaire-article-tags: $bombay;
$color-border-dossier-sommaire-article: $tree_poppy;
$color-dossier-sommaire-article-image: $geyser;
$color-dossier-sommaire-article-hover: $tree_poppy;
$color-dossier-sommaire-article-icon: $bombay;
$color-dossier-bio-cover: $blackberry;
$color-dossier-bio-cover-text: $white;
$background-color-dossier-bio-cards: $aqua_haze ;
$background-color-dossier-bio-card: $white;
$color-dossier-bio-name: $abbey;
$color-dossier-bio-infos: $nevada;
$border-color-dossier-bio-infos: $tree_poppy;

// Programme
$color-programme-title: $blackberry;
$color-programme-text: $nevada;
$background-color-programme-grey: $aqua_haze;

// Search
$color-search-article-content: $nevada;
$color-search-input: $abbey;
$color-search-form-border: $geyser;
$color-search-results-count: $nevada;
$color-search-loadmore: $abbey;

// Frise 
$background-color-frise-choice-periode: $deep_sapphire;
$color-frise-choice-periode-dates: $bombay;
$background-color-frise-timeline: $jungle_green;
$background-color-gradient-frise-timeline: $jewel;
$color-frise-reperes: $white;

// Menu
$background-menu: $congress_blue;

// Text
$color-text: $white;
$color-text-dark: $black;
$color-article-link-dark: $black;
$color-article-link-light: $white;

// Slider
$color-owl-nav: $abbey;
$color-owl-active-dot: $abbey;
$color-owl-text: $abbey;
$background-color-owl-card: $white;
$border-color-card: $geyser;
$color-owl-tags: $nevada;

// Overlay:
$background-color-overlay: $congress_blue;

// Scroll Top
$background-button-scrollTop: $white;
$color-button-scrollTop: $black;